.container {
  height: 100%;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.homeContainer {
  height: 100vh;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  display: grid;
  grid-template-rows: 108px 1fr;
  align-items: center;
}
