* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f0f0f5;
  --block: #ffffff;
  --support-text: #a0a0b2;
  --text: #6c6c80;
  --title: #322153;
  --desaturated: #e1faec;
  --greenpeace: #34cb79;
  --gradient: linear-gradient(0deg, #e1faec 0%, #ffffff 100%);
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html,
  body {
    font-size: 87.25%;
  }
}

body {
  height: 100%;
  background: var(--background);
  font: 14px "Roboto", sans-serif;
}

input,
textarea {
  font-family: Roboto;
}

button {
  cursor: pointer;
}
